:root {
	--orange: 215, 110, 20;
}
[colorless] {
	--fg: 0,0,0;
}
[foreground="red"] {
	--fg: var(--red);
	color: rgb(var(--red)) !important;
}
[foreground="orange"] {
	--fg: var(--orange);
	color: rgb(var(--orange)) !important;
}
[foreground="green"] {
	--fg: var(--green);
	color: rgb(var(--green)) !important;
}
main#route-list {
	--side: 8px;
}
fieldset {
	margin: 0;
	padding: 6px 0;
	border: none;
}

a > button,
div[fx-item] > button:last-child {
	margin-right: 0;
}

.actions button {
	--size: 36px !important;
	margin: 2px 4px !important;
}


[flex-6] {flex: 6}
[flex-7] {flex: 7}

.input-field {
	height: 60px;
	border-width: 1px !important;
	margin: 8px 0;
	position: relative;
}
	.input-field input {
		position: absolute;
		left: 56px;
		right: 0;
		width: calc(100% - 56px);
		margin: 0;
		padding: 0 !important;
		height: 100%;
	}